In [1]:
import pandas as pd 
import numpy as np

In [2]:
df1 = pd.read_json('small_layer1.json')
df1.head()

,ingredients,instructions,partition,recipe_id,title,url
0,"[{'text': '12 cup diet cola (Coke)'}, {'text':...","[{'text': 'Mix the Diet Coke, black pepper and...",train,c5372eec99,Black Pepper Beef and Asparagus Stir Fry,http://www.food.com/recipe/black-pepper-beef-a...
1,"[{'text': '1/4 cup butter'}, {'text': '1 (10 o...",[{'text': 'Melt butter in a large saucepan ove...,train,784acc226c,Artichoke Spinach Dip,http://allrecipes.com/recipe/artichoke-spinach...
2,"[{'text': '12 cup vegetable shortening'}, {'te...",[{'text': 'In a large mixing bowl beat shorten...,train,afed4c9ff3,Lemon Snowball Cookies,http://www.food.com/recipe/lemon-snowball-cook...
3,"[{'text': '1 medium egg white'}, {'text': '2 t...",[{'text': 'Beat the egg white with the cornflo...,train,73ee1438bb,Szechuan Sesame Chicken,http://www.food.com/recipe/szechuan-sesame-chi...
4,[{'text': '1/4 recipe Perfect Parmesan Pizza D...,"[{'text': 'Heat oven to 450 degrees F.'}, {'te...",train,be2ecc11cc,Spicy Hawaiian Pizza,http://www.kraftrecipes.com/recipes/spicy-hawa...

In [3]:
df2 = pd.read_json('small_layer2.json')
df2.head()

                                              images   recipe_id
0  [{'id': '80906fb461.jpg', 'url': 'https://img-...  0016fbe69b
1  [{'id': '098931ec74.jpg', 'url': 'https://img-...  001ac13db4
2  [{'id': '9326d7daaf.jpg', 'url': 'http://tasty...  00299c1a1a
3  [{'id': '2a73637406.jpg', 'url': 'http://tasty...  003c46e073
4  [{'id': '1be20f0d01.jpg', 'url': 'http://img.s...  003eb2c01a

In [4]:
df3 = pd.read_json('small_det_ingrs.json')
df3.head()

,ingredients,recipe_id,valid
0,"[{'text': 'tomatoes'}, {'text': 'fresh basil'}...",0014f77398,"[True, True, True, True, True, True, True, True]"
1,"[{'text': 'ice cream cones'}, {'text': 'vanill...",0016c315f5,"[True, True, True, True, True, True, True, Tru..."
2,"[{'text': 'fresh asparagus'}, {'text': 'sugar'...",00210897d8,"[True, True, True, True, True, True, True]"
3,"[{'text': 'whole wheat flour'}, {'text': 'salt...",002dcd51b8,"[True, True, True, True, True, True]"
4,[{'text': 'Simply Potatoes Shredded Hash Brown...,004d0ada13,"[True, True, True, True, True, True, True, Tru..."

In [9]:
df3['ingredients'][0]

[{'text': 'tomatoes'},
 {'text': 'fresh basil'},
 {'text': 'salt'},
 {'text': 'fresh portabella mushrooms'},
 {'text': 'balsamic vinegar'},
 {'text': 'olive oil'},
 {'text': 'focaccia bread'},
 {'text': 'parmesan cheese'}]

In [10]:
df1['ingredients'][0]

[{'text': '12 cup diet cola (Coke)'},
 {'text': '2 tablespoons fresh coarse ground black pepper'},
 {'text': '2 teaspoons ground black pepper'},
 {'text': '2 tablespoons chopped onions'},
 {'text': '6 ounces lean beef, cut into stir fry strips'},
 {'text': '1 tablespoon extra virgin olive oil'},
 {'text': '4 ounces white mushrooms'},
 {'text': '2 tablespoons celery, sliced'},
 {'text': '4 stalks fresh asparagus, each stalk cut into 3 sections'},
 {'text': '2 teaspoons low sodium soy sauce (optional)'}]